* {
  box-sizing: border-box;
}
/* ::-webkit-scrollbar {
    width: 100px;
  } */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(49, 19, 40);
}
#main-header {
  background: rgb(148, 77, 127);
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-header h1 {
  margin: 0.5rem 0;
  box-shadow: 4px 4px 5px 0 rgb(255, 255, 255, 0.8) inset,
    -4px -8px 6px 0 rgb(0, 0, 0, 0.2) inset,
    2px 2px 2px 0 rgb(255, 255, 255, 0.8), -4px -4px 5px 0 rgb(0, 0, 0, 0.2);
}
#main-header input {
  padding: 0.6rem 0.4rem;
  width: 17rem;
  outline: none;
  border: none;
  background-color: rgba(226, 226, 226, 0.863);
  box-shadow: 10px 10px 6px 0 rgb(255, 255, 255, 0.8) inset,
    -8px -8px 6px 0 rgb(0, 0, 0, 0.15) inset;
}
main {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  border: 1px solid silver;
  border-radius: 20px;
  box-shadow: 10px 10px 6px 0 rgb(255, 255, 255, 0.2) inset,
    -8px -8px 6px 0 rgb(0, 0, 0, 0.2) inset,
    5px 5px 6px 0 rgb(255, 255, 255, 0.2), -8px -8px 6px 0 rgb(0, 0, 0, 0.2);
}
h2 {
  color: white;
  display: inline-block;
  box-shadow: 8px 8px 6px 0 rgb(0, 0, 0, 0.3) inset,
    -5px -5px 4px 0 rgba(255, 255, 255, 0.3) inset;
}
#text-input {
  padding: 0.4rem;
  outline: none;
  background: rgb(172, 172, 172);
  box-shadow: 5px 5px 6px 0 rgb(255, 255, 255, 0.8) inset,
    -4px -2px 6px 0 rgb(0, 0, 0, 0.15) inset;
}
#form-button {
  padding: 0.5rem;
  background: black;
  color: silver;
  border: none;
  outline: none;
  cursor: pointer;
}
#form-button:hover {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}
ul li {
  border: 1px solid silver;
  padding: 1rem;
}
ul li button {
  float: right;
  background: red;
  color: silver;
  border: none;
  cursor: pointer;
  outline: none;
}
/* ul .no-top {
    border-top: none;
  } */
ul li button:hover {
  font-size: 1rem;
  color: white;
}
